.header-container {
  align-items: center;
  background-color: #ccc;
  border-bottom: 2px solid black;
  display: flex;
  flex-flow: 'row wrap';
  justify-content: flex-end;
  width: 50%; }
  .header-container .header-link {
    margin: 15px; }
